<h3>Welcome</h3>
{{#if employees}}
<table class="striped">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Title</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        {{#each employees}}
        <tr>
            <td><a href="/employees/{{_id}}">{{fullName}}</a></td>
            <td>{{title}}</td>
            <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>

            <td>
                <a href="/employees/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/employees/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have no employees currently logged</p>
{{/if}}